/*FONT FAMILY*/
/*GRID COLUMNS*/
/*BREAKPOINTS*/
/*CONTAINER SIZES*/
/*TEXT SIZE*/
/*TEXT COLORS*/
/*BUTTON COLORS*/
/*BACKGROUND COLORS*/
/*LINK COLORS*/
/*MESSAGES COLORS*/
/*TABLE COLORS*/
/*RADIUS*/
/* line 1, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h1,
.h1 {
  font-size: 3em;
  line-height: 1.3;
}

/* line 7, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h2,
.h2 {
  font-size: 2em;
  line-height: 1.4;
}

/* line 13, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h3,
.h3 {
  font-size: 1.6em;
  line-height: 1.4;
}

/* line 19, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h4,
.h4 {
  font-size: 1.3em;
  line-height: 1.4;
}

/* line 25, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h5,
.h5 {
  font-size: 1.1em;
  line-height: 1.4;
}

/* line 31, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h6,
.h6 {
  font-size: 0.9em;
  line-height: 1.4;
}

/* line 37, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
p,
ul,
ol {
  font-size: 100%;
}

/* line 55, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
article p,
article ul,
article ol {
  margin-bottom: 2rem;
}

/* line 61, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
blockquote {
  padding: 1rem;
}

/* line 65, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
blockquote p {
  margin-left: 1rem;
}

/* line 69, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
cite {
  text-align: right;
  display: block;
  padding: 1rem;
}

/* line 76, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
pre {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: #f9f9f9;
  margin: 1.5rem 0;
}

/* line 84, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
code {
  background: #f9f9f9;
}

/* line 88, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
hr {
  max-width: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 94, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-s {
  border-radius: 0.25em;
}

/* line 97, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-m {
  border-radius: 0.5em;
}

/* line 100, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-l {
  border-radius: 50%;
}

/* line 104, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
strong,
.strong {
  font-weight: 700;
}

/*BUTTONS*/
/* line 2, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn,
.btn-large,
.btn-fluid,
.btn-primary,
.btn-secondary,
.btn-reset,
.btn-cancel,
.btn-disabled {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #cd2026;
  border-color: #cd2026;
}

/* line 29, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn:hover, .btn:focus,
.btn-large:hover,
.btn-large:focus,
.btn-fluid:hover,
.btn-fluid:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-reset:hover,
.btn-reset:focus,
.btn-cancel:hover,
.btn-cancel:focus,
.btn-disabled:hover,
.btn-disabled:focus {
  background-color: #cd2026;
}

/* line 35, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-fluid {
  display: block;
}

/* line 39, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-large {
  padding: 0.5rem 2rem;
}

/* line 43, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-primary {
  background-color: #cd2026;
}

/* line 45, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #cd2026;
}

/* line 51, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-secondary {
  background-color: #87a9e7;
  border-color: #87a9e7;
}

/* line 54, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #87a9e7;
}

/* line 60, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-cancel,
.btn-disabled,
.btn-reset {
  background-color: #5b616b;
}

/* line 64, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-cancel:hover, .btn-cancel:focus,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-reset:hover,
.btn-reset:focus {
  background-color: #5b616b;
}

/* line 70, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-diasbled,
.btn-diasbled:hover,
.btn-diasbled:focus,
[disabled] {
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  pointer-events: none;
}

/*TABLE*/
/* line 3, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

/* line 14, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table {
  width: 100%;
  border-color: #112e51;
  border-collapse: collapse;
}

/* line 20, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

/* line 25, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table > thead {
  vertical-align: bottom;
}

/* line 32, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: solid 1px #112e51;
}

/*IMAGES*/
/* line 2, /Users/creatile/Sites/csshelp/sass/core/_media.scss */
img {
  max-width: 100%;
  height: auto;
}

/*IFRAME*/
/* line 10, /Users/creatile/Sites/csshelp/sass/core/_media.scss */
iframe {
  width: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=../css/editor.map */