/*SASS WITH SCOUT APPLICATION*/
/* line 1, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 17, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 29, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 37, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 46, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 59, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 70, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 82, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 91, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 101, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 111, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 122, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 131, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 139, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 143, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 154, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 166, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 182, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 193, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 203, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 214, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 226, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 237, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 248, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 261, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 269, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 278, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 288, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 298, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 307, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 316, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 328, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 336, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 347, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 355, /Users/creatile/Sites/csshelp/sass/core/_normalize.scss */
[hidden] {
  display: none;
}

/*FONT FAMILY*/
/*GRID COLUMNS*/
/*BREAKPOINTS*/
/*CONTAINER SIZES*/
/*TEXT SIZE*/
/*TEXT COLORS*/
/*BUTTON COLORS*/
/*BACKGROUND COLORS*/
/*LINK COLORS*/
/*MESSAGES COLORS*/
/*TABLE COLORS*/
/*RADIUS*/
/* line 1, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h1,
.h1 {
  font-size: 3em;
  line-height: 1.3;
}

/* line 7, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h2,
.h2 {
  font-size: 2em;
  line-height: 1.4;
}

/* line 13, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h3,
.h3 {
  font-size: 1.6em;
  line-height: 1.4;
}

/* line 19, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h4,
.h4 {
  font-size: 1.3em;
  line-height: 1.4;
}

/* line 25, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h5,
.h5 {
  font-size: 1.1em;
  line-height: 1.4;
}

/* line 31, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
h6,
.h6 {
  font-size: 0.9em;
  line-height: 1.4;
}

/* line 37, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
p,
ul,
ol {
  font-size: 100%;
}

/* line 55, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
article p,
article ul,
article ol {
  margin-bottom: 2rem;
}

/* line 61, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
blockquote {
  padding: 1rem;
}

/* line 65, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
blockquote p {
  margin-left: 1rem;
}

/* line 69, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
cite {
  text-align: right;
  display: block;
  padding: 1rem;
}

/* line 76, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
pre {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: #f9f9f9;
  margin: 1.5rem 0;
}

/* line 84, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
code {
  background: #f9f9f9;
}

/* line 88, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
hr {
  max-width: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 94, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-s {
  border-radius: 0.25em;
}

/* line 97, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-m {
  border-radius: 0.5em;
}

/* line 100, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
.round-l {
  border-radius: 50%;
}

/* line 104, /Users/creatile/Sites/csshelp/sass/core/_typo.scss */
strong,
.strong {
  font-weight: 700;
}

/*BUTTONS*/
/* line 2, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn,
.btn-large,
.btn-fluid,
.btn-primary,
.btn-secondary,
.btn-reset,
.btn-cancel,
.btn-disabled {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #cd2026;
  border-color: #cd2026;
}

/* line 29, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn:hover, .btn:focus,
.btn-large:hover,
.btn-large:focus,
.btn-fluid:hover,
.btn-fluid:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-reset:hover,
.btn-reset:focus,
.btn-cancel:hover,
.btn-cancel:focus,
.btn-disabled:hover,
.btn-disabled:focus {
  background-color: #cd2026;
}

/* line 35, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-fluid {
  display: block;
}

/* line 39, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-large {
  padding: 0.5rem 2rem;
}

/* line 43, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-primary {
  background-color: #cd2026;
}

/* line 45, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #cd2026;
}

/* line 51, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-secondary {
  background-color: #87a9e7;
  border-color: #87a9e7;
}

/* line 54, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #87a9e7;
}

/* line 60, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-cancel,
.btn-disabled,
.btn-reset {
  background-color: #5b616b;
}

/* line 64, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-cancel:hover, .btn-cancel:focus,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-reset:hover,
.btn-reset:focus {
  background-color: #5b616b;
}

/* line 70, /Users/creatile/Sites/csshelp/sass/core/_buttons.scss */
.btn-diasbled,
.btn-diasbled:hover,
.btn-diasbled:focus,
[disabled] {
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  pointer-events: none;
}

/*TABLE*/
/* line 3, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

/* line 14, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table {
  width: 100%;
  border-color: #112e51;
  border-collapse: collapse;
}

/* line 20, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

/* line 25, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table > thead {
  vertical-align: bottom;
}

/* line 32, /Users/creatile/Sites/csshelp/sass/core/_table.scss */
table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: solid 1px #112e51;
}

/*IMAGES*/
/* line 2, /Users/creatile/Sites/csshelp/sass/core/_media.scss */
img {
  max-width: 100%;
  height: auto;
}

/*IFRAME*/
/* line 10, /Users/creatile/Sites/csshelp/sass/core/_media.scss */
iframe {
  width: 100%;
  max-width: 100%;
}

/* line 1, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

@media (min-width: 64em) {
  /* line 10, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .container {
    max-width: 62em;
  }
  /* line 14, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .container.fluid {
    max-width: 100%;
  }
  /* line 18, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .container.medium {
    max-width: 52em;
    background: red;
  }
}

@media (min-width: 72em) {
  /* line 25, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .container.large {
    max-width: 70em;
    background: green;
  }
}

/* line 31, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.row {
  display: flex;
  flex-direction: row;
}

/* line 35, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.row.columns {
  flex-direction: column;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-1 {
  width: 8.33333%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-2 {
  width: 16.66667%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-3 {
  width: 25%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-4 {
  width: 33.33333%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-5 {
  width: 41.66667%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-6 {
  width: 50%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-7 {
  width: 58.33333%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-8 {
  width: 66.66667%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-9 {
  width: 75%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-10 {
  width: 83.33333%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-11 {
  width: 91.66667%;
}

/* line 41, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
.small-12 {
  width: 100%;
}

@media (min-width: 64em) {
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-1 {
    width: 8.33333%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-2 {
    width: 16.66667%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-3 {
    width: 25%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-4 {
    width: 33.33333%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-5 {
    width: 41.66667%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-6 {
    width: 50%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-7 {
    width: 58.33333%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-8 {
    width: 66.66667%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-9 {
    width: 75%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-10 {
    width: 83.33333%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-11 {
    width: 91.66667%;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .medium-12 {
    width: 100%;
  }
}

@media (min-width: 72em) {
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-1 {
    width: 8.33333%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-2 {
    width: 16.66667%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-3 {
    width: 25%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-4 {
    width: 33.33333%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-5 {
    width: 41.66667%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-6 {
    width: 50%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-7 {
    width: 58.33333%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-8 {
    width: 66.66667%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-9 {
    width: 75%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-10 {
    width: 83.33333%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-11 {
    width: 91.66667%;
  }
  /* line 56, /Users/creatile/Sites/csshelp/sass/core/_grid.scss */
  .large-12 {
    width: 100%;
  }
}

/* line 1, /Users/creatile/Sites/csshelp/sass/core/_navbar.scss */
.navbar {
  background: #5b616b;
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 11, /Users/creatile/Sites/csshelp/sass/core/_navbar.scss */
.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
}

/* line 2, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.visible {
  visibility: visible;
}

/* line 6, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.invisible {
  visibility: hidden;
}

/* line 10, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.show {
  display: block !important;
}

/* line 14, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.hide {
  display: none !important;
}

/* line 18, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.opacity-none {
  opacity: 0;
}

/* line 22, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.opacity-one {
  opacity: 1;
}

/* line 26, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.display-md,
.display-ld,
.display-none {
  display: none;
}

@media (min-width: 64em) {
  /* line 33, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
  .display-md {
    display: block;
  }
  /* line 36, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
  .display-md-only {
    display: block;
  }
  /* line 39, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
  .display-sd-only {
    display: none;
  }
}

@media (min-width: 72em) {
  /* line 45, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
  .display-ld {
    display: block;
  }
  /* line 48, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
  .display-md-only {
    display: none;
  }
}

/* line 53, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.sticky {
  position: sticky;
  position: -webkit-sticky;
  padding: 1rem;
  background: red;
  top: 0;
}

/* line 62, /Users/creatile/Sites/csshelp/sass/core/_visibility.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #CCCCCC;
  padding: 1rem;
}

/* line 1, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
[type="text"],
[type="email"],
[type="number"],
[type="date"],
[type="tel"],
[type="password"],
[type="time"],
[type="datetime-local"],
[type="datetime"],
.form-input,
select,
.form-select,
textarea,
.form-textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.5rem 0;
}

/* line 33, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
textarea,
.form-textarea {
  min-height: calc(1.5em + 0.75rem + 2px);
}

/* line 38, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
select,
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 58, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
label {
  font-weight: 600;
  font-size: 90%;
  margin: 0.5rem 0;
}

/* line 64, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 1rem 0;
  border: 0;
}

/* line 71, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 120%;
  line-height: inherit;
}

/* line 80, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
[type="submit"] {
  display: inline-block;
}

/* line 84, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
[type="reset"] {
  display: inline-block;
}

/* line 88, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-color: #87a9e7;
  border-width: 2px;
  margin: 0.5rem 0;
  background-color: #87a9e7;
  border-style: solid;
}

/* line 102, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
form ul {
  padding-left: 0;
  list-style: none;
  margin: 1rem 0;
}

/* line 108, /Users/creatile/Sites/csshelp/sass/core/_form.scss */
.form-item {
  margin: 1rem 0;
}

/* line 1, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
ul.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 7, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
ul.menu.inline-menu {
  flex-direction: row;
}

@media (min-width: 64em) {
  /* line 12, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
  ul.menu.medium-inline {
    flex-direction: row;
  }
}

@media (min-width: 72em) {
  /* line 17, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
  ul.menu.large-inline {
    flex-direction: row;
  }
}

/* line 22, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
ul.menu li a {
  display: block;
  padding: .3em 1em;
}

/* line 27, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
ul.menu li.disabled a {
  pointer-events: none;
  cursor: none;
}

/*HAMBURGER ELEMENT*/
/* line 37, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
.hamburger {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  z-index: 10;
  width: 4em;
  height: 4em;
  padding: 1em;
  transition: all .2s ease-out;
}

/* line 51, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
.hamburger--inner {
  position: relative;
  display: block;
  margin-top: .9em;
  background-color: #fff;
  pointer-events: none;
  width: 100%;
  height: .2em;
  transition: all .4s;
}

/* line 61, /Users/creatile/Sites/csshelp/sass/core/_menu.scss */
.hamburger--inner:before, .hamburger--inner:after {
  background-color: #fff;
  pointer-events: none;
  width: 100%;
  height: .2em;
  transition: all .4s;
  position: absolute;
  top: -.55em;
  content: " ";
}

/*PROGRESS BAR*/
/* line 2, /Users/creatile/Sites/csshelp/sass/core/_animations.scss */
.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
    background-color: #14ffe2;
    width: 100%;
  }
}

/* line 1, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: #84cafd;
  border: none;
  margin: 1.5rem 0;
  font-weight: normal;
  position: relative;
}

/* line 9, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message p {
  margin: .5rem 0;
}

/* line 13, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message .close {
  position: absolute;
  right: .8rem;
  top: .4rem;
  font-size: 1.6rem;
  font-weight: normal;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

/* line 23, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message.error {
  background-color: #ef9d9f;
}

/* line 27, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message.status {
  background-color: #def53e;
}

/* line 31, /Users/creatile/Sites/csshelp/sass/core/_messages.scss */
.message.info {
  background-color: #84cafd;
}

/*MARGIN TOP*/
/* line 3, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mt-1 {
  margin-top: 1em;
}

/* line 3, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mt-2 {
  margin-top: 2em;
}

/* line 3, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mt-3 {
  margin-top: 3em;
}

/* line 3, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mt-4 {
  margin-top: 4em;
}

/* line 3, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mt-5 {
  margin-top: 5em;
}

/*MARGIN BOTTON*/
/* line 10, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mb-1 {
  margin-bottom: 1em;
}

/* line 10, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mb-2 {
  margin-bottom: 2em;
}

/* line 10, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mb-3 {
  margin-bottom: 3em;
}

/* line 10, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mb-4 {
  margin-bottom: 4em;
}

/* line 10, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.mb-5 {
  margin-bottom: 5em;
}

/*PADDING TOP*/
/* line 17, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pt-1 {
  padding-top: 1em;
}

/* line 17, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pt-2 {
  padding-top: 2em;
}

/* line 17, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pt-3 {
  padding-top: 3em;
}

/* line 17, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pt-4 {
  padding-top: 4em;
}

/* line 17, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pt-5 {
  padding-top: 5em;
}

/*PADDING BOTTON*/
/* line 24, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pb-1 {
  padding-bottom: 1em;
}

/* line 24, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pb-2 {
  padding-bottom: 2em;
}

/* line 24, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pb-3 {
  padding-bottom: 3em;
}

/* line 24, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pb-4 {
  padding-bottom: 4em;
}

/* line 24, /Users/creatile/Sites/csshelp/sass/core/_spaces.scss */
.pb-5 {
  padding-bottom: 5em;
}

/*:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
}*/
/* line 5, /Users/creatile/Sites/csshelp/sass/custom/_custom.scss */
html {
  scroll-behavior: smooth;
}

/* line 9, /Users/creatile/Sites/csshelp/sass/custom/_custom.scss */
body {
  font-size: 100%;
  font-family: "Arial", sans-serif;
}

/*LINKS*/
/* line 15, /Users/creatile/Sites/csshelp/sass/custom/_custom.scss */
a {
  color: #cd2026;
  text-decoration: none;
}

/* line 20, /Users/creatile/Sites/csshelp/sass/custom/_custom.scss */
a:hover,
a:focus {
  color: #cd2026;
}

/*LAYOUT*/
/* line 27, /Users/creatile/Sites/csshelp/sass/custom/_custom.scss */
.sidebar-nav {
  padding: 2rem 0;
}

/*# sourceMappingURL=../css/style.map */