/*BUTTONS*/
.btn,
.btn-large,
.btn-fluid,
.btn-primary,
.btn-secondary,
.btn-reset,
.btn-cancel,
.btn-disabled {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: $btn-c1;
  border-color: $btn-c1;
  &:hover,
  &:focus {
    background-color: $btn-c1-hover;
  }
}

.btn-fluid {
  display: block;
}

.btn-large {
  padding: 0.5rem 2rem;
}

.btn-primary {
  background-color: $btn-c1;
  &:hover,
  &:focus {
    background-color: $btn-c1-hover;
  }
}

.btn-secondary {
  background-color: $btn-c2;
  border-color: $btn-c2;
  &:hover,
  &:focus {
    background-color: $btn-c2-hover;
  }
}

.btn-cancel,
.btn-disabled,
.btn-reset {
  background-color: $btn-c3;
  &:hover,
  &:focus {
    background-color: $btn-c3-hover;
  }
}

.btn-diasbled,
.btn-diasbled:hover,
.btn-diasbled:focus,
[disabled]{
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  pointer-events: none;
}
