[type="text"],
[type="email"],
[type="number"],
[type="date"],
[type="tel"],
[type="password"],
[type="time"],
[type="datetime-local"],
[type="datetime"],
.form-input,
select,
.form-select,
textarea,
.form-textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.5rem 0;
}

textarea,
.form-textarea {
  min-height: calc(1.5em + 0.75rem + 2px);
}

select,
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  font-weight: 600;
  font-size: $p * 0.9;
  margin: 0.5rem 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 1rem 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: $p * 1.2;
  line-height: inherit;
}

[type="submit"] {
  display: inline-block;
}

[type="reset"] {
  display: inline-block;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-color: $btn-c2;
  border-width: 2px;
  margin: 0.5rem 0;
  background-color: $btn-c2;
  border-style: solid;
}

form ul {
  padding-left: 0;
  list-style: none;
  margin: 1rem 0;
}

.form-item {
  margin: 1rem 0;
}
