.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

@include media("medium") {
  .container {
    max-width: $container;
  }

  .container.fluid {
    max-width: 100%;
  }

  .container.medium {
    max-width: $container-m;
    background: red;
  }
}

@include media("large") {
  .container.large {
    max-width: $container-l;
    background: green;
  }
}

.row {
  display: flex;
  flex-direction: row;

  &.columns {
    flex-direction: column;
  }
}

@for $i from 1 through $number-columns {
  .small-#{$i} {
    width: 100 / (12 / $i) * 1%;
  }
}

@include media(medium) {
  @for $i from 1 through $number-columns {
    .medium-#{$i} {
      width: 100 / (12 / $i) * 1%;
    }
  }
}

@include media(large) {
  @for $i from 1 through $number-columns {
    .large-#{$i} {
      width: 100 / (12 / $i) * 1%;
    }
  }
}


