ul.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  &.inline-menu {
    flex-direction: row;
  }

  @include media(medium) {
    &.medium-inline {
      flex-direction: row;
    }
  }
  @include media(large) {
    &.large-inline {
      flex-direction: row;
    }
  }
  li {
    a {
      display: block;
      padding: .3em 1em;
    }
    &.disabled {
      a {
        pointer-events: none;
        cursor: none;
      }
    }
  }
}


/*HAMBURGER ELEMENT*/
.hamburger {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0,0,0,.7);
  font-size: 11px;
  z-index: 10;
  width: 4em;
  height: 4em;
  padding: 1em;
  transition: all .2s ease-out;

  &--inner {
    position: relative;
    display: block;
    margin-top: .9em;
    background-color: #fff;
    pointer-events: none;
    width: 100%;
    height: .2em;
    transition: all .4s;

    &:before, &:after {
      background-color: #fff;
      pointer-events: none;
      width: 100%;
      height: .2em;
      transition: all .4s;
      position: absolute;
      top: -.55em;
      content: " ";
    }
  }
  &.is-active {
    &--inner {
      
    }
  }
}
