.message {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: $mes-infos;
  border: none;
  margin: 1.5rem 0;
  font-weight: normal;
  position: relative;
  p {
    margin: .5rem 0;
  }

  .close {
    position: absolute;
    right: .8rem;
    top: .4rem;
    font-size: 1.6rem;
    font-weight: normal;
    cursor: pointer;
    font-family: "Arial", sans-serif;
  }

  &.error {
    background-color: $mes-error;
  }

  &.status {
    background-color: $mes-status;
  }

  &.info {
    background-color: $mes-infos;
  }
}
