/*MARGIN TOP*/
@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $i * 1em;
  }
}

/*MARGIN BOTTON*/
@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $i * 1em;
  }
}

/*PADDING TOP*/
@for $i from 1 through 5 {
  .pt-#{$i} {
    padding-top: $i * 1em;
  }
}

/*PADDING BOTTON*/
@for $i from 1 through 5 {
  .pb-#{$i} {
    padding-bottom: $i * 1em;
  }
}

