/*TABLE*/

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

table {
  width: 100%;
  border-color: $table-c1;
  border-collapse: collapse;
}

table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

table > thead {
  vertical-align: bottom;
}

table tr {
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: solid 1px $table-c1;
}
