h1,
.h1 {
  font-size: $h1;
  line-height: 1.3;
}

h2,
.h2 {
  font-size: $h2;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: $h3;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: $h4;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: $h5;
  line-height: 1.4;
}

h6,
.h6 {
  font-size: $h6;
  line-height: 1.4;
}

p,
ul,
ol {
  font-size: $p;
}

ul {
}

ul li {
}

ol {
}

ol li {
}

article p,
article ul,
article ol {
  margin-bottom: 2rem;
}

blockquote {
  padding: 1rem;
}

blockquote p {
  margin-left: 1rem;
}

cite {
  text-align: right;
  display: block;
  padding: 1rem;
}


pre {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: #f9f9f9;
  margin: 1.5rem 0;
}

code {
  background: #f9f9f9;
}

hr {
  max-width: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.round-s {
  border-radius: $rad-small;
}
.round-m {
  border-radius: $rad-medium;
}
.round-l {
  border-radius: $rad-large;
}

strong,
.strong {
  font-weight: 700;
}

@import "buttons.scss";

@import "table.scss";

@import "media.scss";

