// Class
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.opacity-none {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
}

.display-md,
.display-ld,
.display-none {
  display: none;
}

@include media("medium") {
  .display-md {
    display: block;
  }
  .display-md-only {
    display: block;
  }
  .display-sd-only {
    display: none;
  }
}

@include media("large") {
  .display-ld {
    display: block;
  }
  .display-md-only {
    display: none;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  padding: 1rem;
  background: red;
  top: 0;
}


.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #CCCCCC;
  padding: 1rem;
}
