/*:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
}*/
html {
  scroll-behavior: smooth;
}

body {
  font-size: $p;
  font-family: $font-first;
}

/*LINKS*/
a {
  color: $link-c1;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-c1-hover;
}


/*LAYOUT*/
.sidebar-nav {
  padding: 2rem 0;
}
