/*FONT FAMILY*/
$font-first: "Arial", sans-serif;
$font-second: "Verdana";

/*GRID COLUMNS*/
$number-columns: 12;

/*BREAKPOINTS*/
$breakpoints: (
  "small": 48em,
  "medium": 64em,
  "large": 72em,
) !default;

/*CONTAINER SIZES*/
$container: 62em;
$container-m: 52em;
$container-l: 70em;

/*TEXT SIZE*/
$p: 100%;
$h6: 0.9 * 1em;
$h5: 1.1 * 1em;
$h4: 1.3 * 1em;
$h3: 1.6 * 1em;
$h2: 2 * 1em;
$h1: 3 * 1em;

/*TEXT COLORS*/
$txt-c1: #112e51;
$txt-c1-hover: #0071bc;
$txt-c2: #0071bc;
$txt-c2-hover: #112e51;
$txt-c3: #4c2c92;
$txt-c3-hover: #4c2c92;
$txt-c4: #2e8540;
$txt-c4-hover: #2e8540;

/*BUTTON COLORS*/
$btn-c1: #cd2026;
$btn-c1-hover: #cd2026;
$btn-c2: #87a9e7;
$btn-c2-hover: #87a9e7;
$btn-c3: #5b616b;
$btn-c3-hover: #5b616b;

/*BACKGROUND COLORS*/
$bg-c1: #cd2026;
$bg-c1-hover: #cd2026;
$bg-c2: #5b616b;
$bg-c2-hover: #5b616b;
$bg-c3: #5b616b;
$bg-c3-hover: #5b616b;
$bg-c4: #5b616b;
$bg-c4-hover: #5b616b;

/*LINK COLORS*/
$link-c1: #cd2026;
$link-c1-hover: #cd2026;
$link-c2: #5b616b;
$link-c2-hover: #5b616b;
$link-c3: #5b616b;
$link-c3-hover: #5b616b;

/*MESSAGES COLORS*/
$mes-error: #ef9d9f;
$mes-status: #def53e;
$mes-infos: #84cafd;

/*TABLE COLORS*/
$table-c1: #112e51;
$table-c1-hover: #112e51;
$table-c2: #5b616b;
$table-c2-hover: #5b616b;

/*RADIUS*/
$rad-small: .25em;
$rad-medium: .5em;
$rad-large: 50%;
